/*ESTILOS FILTRO*/

.filter-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.service-type{
    height: 50px;
    width: 200px;
    background-color: #212121;
}

.service-type select{
    height: 100%;
    width: 100%;
    border: solid 1px rgb(207, 206, 206);
}



.department-type{
    height: 50px;
    width: 200px;
    background-color: #e8e8e8;
}


.department-type select{
    height: 100%;
    width: 100%;
    border: solid 1px rgb(207, 206, 206);
}



.region{
    height: 50px;
    width: 200px;
}

.region select{
    height: 100%;
    width: 100%;
    border: solid 1px rgb(207, 206, 206);
}

.search{

    display: flex;
    background-color: #c6c6c6;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 5px;
    
}

.button-search{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;

    
}






.search input[type="text"]{

    background-color: rgb(243, 239, 239);
    height: 100%;
    width: 100%;
    color: #5a5a5a;
    padding: 0;

}

.button-search input[type="button"]{
    background-color: rgb(180, 153, 30);
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
}

/*ESTILOS HOMESCREEN*/

.homescreen-container{
    padding: 75px 150px 50px 150px;
  }
  
  
  
/*ESTILOS RESIDENCES*/

.residences-component{

    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.residence-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    margin: 10px;
    background-color: white;
    padding: 1px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
}


.residence-image{
    height: 55%;

}

.residence-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.residence-description{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    height: 45%;


}

.residence-title{
    text-align: center;
    border-bottom: 1px solid rgb(211, 195, 97);
    padding: 10px;
}

.residence-info{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(211, 195, 97);
    padding: 10px;
}

.residence-info-price{
    display: flex;
    text-align: center;
    align-items: center;
    color: rgb(35, 137, 35);
}

.residence-info-location{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.residence-detail{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.residence-detail i{
    display: flex;
    justify-content: space-between;
    font-size: 22px;

}



.residence-button button {
    height: 40px;
    width: 100%;
    border: unset;
    color: #212121;
    z-index: 1;
    background: rgb(222, 187, 91);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }

.residence-button button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #4d4001;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.residence-button button:hover {
    color: #e8e8e8;
    cursor: pointer;
}

.residence-button button:hover::before {
    width: 100%;
}


/*ESTILOS DE RESIDENCIA SELECCIONADA*/



.residence-box{
    display: flex;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    background-color: #212121e1;
    justify-content: center;
    z-index: 2;
}


.residence-content{
    position: relative;
    top: 10px;
    margin: 10px;
    height: 90%;
    background-color: white;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.close-button{
    padding: 10px;
    position: absolute;
    right: 0;

    
}

.close-button i{
    font-size: 20px;
    color: #5a5a5a;
    cursor: pointer;

}



/* ESTILO INTERNO*/

.images-container{
    margin: 10px;
    height: 600px;
    width: 900px;
    background-color: #212121;


}

.show-image{
    height: 90%;
    width: 100%;
    background-color: red;


}

.show-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-list{
    width: 100%;
    height: 10%;
    background-color: #5a5a5a;
}


.container-residence-description{
    margin: 10px;
    background-color: aqua;
    height: 800px;
    width: 500px;
}















@media only screen and (max-width: 1078px){
    .filters, .service-type, .department-type, .region, .search, .button-search
    {
        width: 100%;
    }
      
}




@media only screen and (max-width: 1480px){
    .homescreen-container{
        padding: 75px 0px 50px 0px;
      }
      
}